body {
	font-family: 'Roboto', sans-serif;
}

h4 {
font-size: 1.25em;
font-weight: bold;
}

#login-box {
	margin-top: 1.5em;
	text-align: center;
}

.long-text {
	width: 60%;
	margin: 2em auto;
}

#consent-form {
	border: 1px solid darkgray;
	margin-bottom: 2em;
	font-size: 0.9em;
	padding: 1.5em;
}

.pre-scrollable {
	max-height: 500px;
}

#consent-box {
	margin-top: 2em;
}

#button-box {
	text-align: center;
	margin-top: 2em;
}

.narrow-panel {
	width: 800px;
	margin: 2em auto;
}

#task-list {
	margin-top: 1.5em;
	font-size: 1.2em;
}

#tasks {
	margin-top: 2.5em;
}

.task-img {
	float: right;
	padding-left: 1em;
	padding-bottom: 1em;
}

#btn-div {
	text-align: center;
	clear: both;
}

#tasks-btn {
	margin-top: 1em;
}

#end-text {
	text-align: center;
}

/*#intro-text {
	font-weight: bold;
}*/

#intro-div {
	padding-bottom: 1.5em;
	font-size: 0.9em;
}

#nextTask {
	margin-top: 2em;
}

.navbar {
	height: 6em;
	margin-left: auto;
	margin-right: auto;
	background-color: #999;
	color: #FFFFFF;
	border-bottom: #777 1px solid;
	border-radius: 0;
}

.navbar-text {
	font-size: 2.5em;
	font-weight: 700;
	vertical-align: middle;
	float: none;
	margin-left: 0;
	/*text-transform: uppercase;*/
}

.content {
	margin-top: 2em;
	font-size: 1.2em;
}

.faded-task {
	opacity: 0.2;
}

.task-number {
	font-size: 4em;
	line-height: 1em;
	font-weight: 700;
/*	color: #999;*/
	float: left;
	margin-right: 0.5em;
}

.task-description {
	overflow: hidden;
}

.panel-default>.panel-heading {
	background-color: #999;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.5em;
}

#loginID {
	width: 20em;
	margin: auto;
}

#rank {
	width: 20em;
	margin: auto;
}

.consent-header {
	margin-top: 2em;
}

#birth-date-div {
	text-align: center;
}

#birth-month {
	width: 125px;
}

#birth-day {
	width: 90px;
}

#birth-year {
	width: 100px;
}

#age-alert {
	display: none;
	margin-top: 1em;
	text-align: center;
}

#rp-earnings {
	margin-top: 2em;
	margin-bottom: 2em;
}

#rp-table {
	width: 42%;
	margin-left: auto;
	margin-right: auto;
}

#rp-table th {
	text-align: center;
}

#optout-check {
	font-size: 1.25em;
	text-align: center;
	margin-left: 2em;
	margin-right: 2em;
}
#optout-message {
	font-weight: bold;
}

.block-description {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.block-description.inactive  {
	opacity: .4;
}

.text-italic {
	font-style: italic;
}

.code {

}

.error {
	color: red;
}
