* {
    font-family: 'Montserrat', sans-serif;
}

.content {
    width: 100%;
    overflow: scroll;
}

table {
    border-collapse: collapse;
    overflow: scroll;
}

th {
    width: 100px;
    padding: 8px
}

td {
    border-right: 1px solid;
    padding: 4px ;
}

td:first-child,
th:first-child
{
    background-color: white;
    font-weight: 600;
    min-width: 150px;
    position: sticky;
    left: 0;
}

tbody > tr:hover {
    background-color: #eee;
    transition: .1s all ease-in-out;
}

tbody > tr:hover > td:first-child {
    background-color: #eee;
    transition: .1s all ease-in-out;
}

td.green {
    background-color: green;
}

td.orange {
    background-color: orange;
}

td.red {
    background-color: red;
}

td.grey {
    background-color: grey;
}

td.empty {
    background-color: #FF000025;
}

td.red-border {
    border: 3px red solid;
}

td.pink {
    background-color: lightpink;
}